#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_X86_64
comment "x86_64 Configuration Options"

choice
	prompt "x86_64 arch selection"
	default ARCH_INTEL64

config ARCH_INTEL64
	bool "Intel x86_64"
	select ARCH_HAVE_MPU
	select ARCH_USE_MPU
    select ARCH_HAVE_TICKLESS
    select ARCH_HAVE_STACKCHECK
    select ARCH_HAVE_VFORK
    select SCHED_TICKLESS_ALARM
	---help---
		Intel x86_64 architecture

endchoice

choice
	prompt "x86_64 chip selection"
	default ARCH_CHIP_BROADWELL

config ARCH_CHIP_BROADWELL
	bool "Intel Processor codename Broadwell"
	---help---
		Targeting those codenamed as broadwell

endchoice

config ARCH_CHIP
	string
	default "broadwell" if ARCH_CHIP_BROADWELL

source arch/x86_64/src/common/Kconfig
if ARCH_INTEL64_BROADWELL
source arch/x86_64/src/intel64/Kconfig
endif # ARCH_INTEL64_BROADWELK

if ARCH_CHIP_BROADWELL
source arch/x86_64/src/broadwell/Kconfig
endif # ARCH_CHIP_BROADWELL
endif # ARCH_X86_64
